/*                                                                                                                              
                                                   .((((((((((((((((((((((                                                   
                                              .((((((((((((((((((((((((((((((((*                                             
                                           ((((((((((((((((((((((((((((((((((((((((                                          
                                       .((((((((((((((((((         *((((((((((((((((((                                       
                                       ((((((((((((((                   (((((((((((((((                                      
                                       (((((((((((                         /(((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((((/                       (((((((((((                                      
                                       (((((((((((((((((((((*                   *((((((                                      
                                       (((((((((((((((((((((((((((((,                                                        
                                       /((((((((((((((((((((((((((((((((((((,                                                
                                               ,((((((((((((((((((((((((((((((((((((*                                        
                                                        (((((((((((((((((((((((((((((((                                      
                                       (((((.                   /((((((((((((((((((((((                                      
                                       (((((((((((                      ,((((((((((((((                                      
                                       (((((((((((        ((,               (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((           ((((           (((((((((((                                      
                                       (((((((((((                         ((((((((((((                                      
                                       ((((((((((((((                    ((((((((((((((                                      
                                        (((((((((((((((               .((((((((((((((/                                       
                                          (((((((((((((((           (((((((((((((((                                          
                                            .(((((((((((((((      (((((((((((((((                                            
                                               ((((((((((((((( ,(((((((((((((((                                              
                                                 (((((((((((((((((((((((((((                                                 
                                                   ,((((((((((((((((((((((                                                   
                                                      ((((((((((((((((((                                                     
                                                        (((((((((((((.                                                       
                                                          *((((((((                                                          
                                                             ((((                                                            
                                                                                                                              */


/* Color choices, change here - not further down */
:root {
    --textcolor: #fff;
    --textsub: #ffffff57;
    --texthighlight: #33F9B1;
    --tabscolor: #08070c69;
    --textred: #f11c51;
}

/* Don't touch */
html, body {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}